* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
border: none;
scroll-behavior: smooth;
font-family: 'Inter', sans-serif;
}


:root {
--bg-color: #f7f2e4;
--second-bg-color: #c8bdac;
--text-color: #564839;
--main-color: #e6dac5;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}
body{
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Ensure body takes full height */
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 12% 0.5rem;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a{
 font-size: 1.8rem;
 color: var(--text-color);
 margin-left: 4rem;
 font-weight: 500;
 transition: 0.3s ease;
 border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active{
    color: rgba(78, 67, 59, 0.975);
    border-bottom: 3px solid var(--main-color);
    background-color: transparent;
}
#menu-icon{
  font-size: 3.6rem;
  color: var(--main-color);
  display:none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}
.text-animation {
    /* Removed the text animation styles */
}
.heading{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}
.education{
    padding: 100px 15px;
    background: var(--bg-color) !important; /* Updated background color with !important */
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: rgb(90, 78, 64);
    left: calc(50% - 1px);
}
.timeline-items{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #564839;
    margin: 6px 0 15px;
}
.timeline-content{
    background-color: var(--second-bg-color);
    border: 3px solid var(--second-bg-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3{
    font-size: 20px;
    color: #3d362f;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: #413a32;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

.services, .education {
    background-color: var(--second-bg-color);
    padding: 5rem 12%;
    color: #3e3834;
}
.services h2{
    margin-bottom: 5rem;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    background-color: var(--bg-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.service-box:hover{
    background: var(--bg-color);
    color: rgb(87, 71, 59);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}
.service-box .service-info{
    display: flex;
    flex-direction:column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}
.service-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}
.service-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}
.testimonials{
    background: var(--second-bg-color);
}
.testimonials-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials .heading{
    margin-bottom: 5rem;
    color: #3b3228;
}
.testimonials-box img{
    width: 15rem;
    border-radius: 0%;
    border: 3px solid;
    box-shadow: 0 0 25px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.testimonial-item{
    min-height: 550px;
    max-width: 450px;
    background: rgba(232, 228, 228, 0);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    transition: 0.4s ease-in-out;
    border: none; /* Removed border */
}
.testimonial-item:hover{
    border: none; /* Ensure no border on hover */
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 0 50px rgba(255, 241, 219, 0);
}
.testimonial-item h2 {
    margin-top: 2rem; /* Increased space above the title */
    margin-bottom: 1rem; /* Space below the title */
    font-size: 2.5rem; /* Adjust the font size if needed */
    color: #2c2a25; /* Updated color to a darker shade */
}
.testimonial-item p{
    font-size: 1.3rem;
}
.testimonial-item a {
    color: inherit; /* Remove link color */
    text-decoration: none; /* Remove underline */
}
.testimonial-item img {
    width: 250px; /* Increased width */
    height: 250px; /* Increased height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border: none; /* Remove the border */
}
.testimonial-item .see-more-btn {
    background-color: rgb(77, 68, 56); /* Set background color */
    color: #f8ebd6; /* Set text color to white */
    padding: 1rem 2rem; /* Add padding for better size */
    border-radius: 2rem; /* Rounded corners */
    font-size: 1.5rem; /* Font size */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    margin-top: 2rem; /* Increased space above the button */
}
.testimonial-item .see-more-btn:hover {
    background-color: rgba(79, 70, 56, 0.8); /* Change background on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}
.testimonial-item a {
    color: inherit; /* Remove link color */
    text-decoration: none; /* Remove underline */
}
.testimonial-item img {
    width: 250px; /* Increased width */
    height: 250px; /* Increased height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}
.contact{
    background-color: var(--second-bg-color);
}
.contact h2{
margin-bottom: 3rem;
color: #3b3228;
}
.contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}
.contact form .btn {
    background-color: var(--main-color); /* Set background color */
    color: #6a5e53; /* Set text color to white */
    padding: 1.5rem 3rem; /* Add padding for better size */
    border-radius: 2rem; /* Rounded corners */
    font-size: 1.8rem; /* Font size */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}
.contact form .btn:hover {
    background-color: rgba(163, 152, 136, 0.8); /* Change background on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    font-size: 25px;
    color: #564839;
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3 ease-in-out;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: rgb(107, 84, 66);
    box-shadow: 0 0 25px var(--main-color);
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: #564839;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul il a:hover{
    border-bottom: 3px solid var(--main-color);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #564839;
}
.logo img {
    width: 125px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
.skills {
    padding: 2rem 12%;
    background: var(--bg-color);
    text-align: center;
}
.skills h2 {
    margin-bottom: 8rem;
    margin-top: 20rem;
    color: #42392f;
    font-size: 6rem;
}
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15rem;
    margin-top: 10rem;
}
.skill-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.skill-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.skill-icon:hover::after {
    opacity: 1;
}
.skill-icon i {
    font-size: 120px;
    color: var(--text-color);
    margin-bottom: 1rem;
}
.skill-icon p {
    font-size: 1.5rem;
    color: var(--text-color);
}
.skill-icon:hover {
    transform: scale(1.1);
    color: var(--main-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.8); }
}

#expertise {
    display: inline-block;
    animation: fadeIn 0.5s ease-in-out;
}
.profile-container {
    width: 450px; /* Size */
    height: 450px; /* Size */
    border-radius: 100%; /* Circular shape */
    overflow: hidden; /* Crop the image */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px; /* Space between image and title */
    margin-top: 2px;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    text-align: center; /* Center text within the container */
    margin: auto; /* Center the profile container */
    margin-top: 2px;
    gap: 5px; /* Increase space between items in the container */
}

.profile-img {
    width: 400px; /* Set a fixed width */
    height: 400px; /* Set a fixed height to match width */
    border-radius: 50%; /* Make the image circular */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}
.title {
    font-size: 2rem !important; /* Further decrease the font size for the typing animation */
    color: #7d6d5c; /* Text color */
    text-align: center; /* Center the text */
    margin: 0 !important; /* Remove any default margin to ensure centering */
    margin-top: 30px !important; /* Increase space above the title to bring it lower */
    margin-bottom: 5px !important; /* Reduce space between title and photo */
}

.title::after {
    content: '';
    display: inline-block;
    width: 3px; /* Keep the width narrow */
    height: 3.3rem; /* Height for a longer cursor */
    background: rgb(149, 130, 107); /* Ensure the color stands out */
    animation: blink 1s infinite; /* Keep the blinking effect */
    margin-left: 5px; /* Add space between the text and the cursor */
}

.home-content h2 {
    margin-top: 30px !important; /* Adjust this value to move the header lower */
    text-align: center; /* Center the header text */
    font-size: 5rem !important; /* Adjust the font size */
    margin-bottom: 20px !important; /* Increase space between header and title */
}

.home {
    margin-top: 100px; /* Increase this value to bring the entire section lower */
}